<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019076583860-knptgam5ciskr0qepecnq6k4csd4d2i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019076583860-knptgam5ciskr0qepecnq6k4csd4d2i4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1019076583860-h7oulbfokar3bfrutpjk6p962tc9eunu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSTLLmwZmI3wEWWdqwnjbDYDpDTvxvD_w</string>
	<key>GCM_SENDER_ID</key>
	<string>1019076583860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.kcroz</string>
	<key>PROJECT_ID</key>
	<string>kcroz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kcroz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019076583860:ios:480f041a9717880c26d2e1</string>
</dict>
</plist>