<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027941086185-s6bmh5knodevji7akvbi441439q51mo2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027941086185-s6bmh5knodevji7akvbi441439q51mo2</string>
	<key>API_KEY</key>
	<string>AIzaSyCYxbNn65MWBMvzG8xZ2G3kqpVPEsdem6I</string>
	<key>GCM_SENDER_ID</key>
	<string>1027941086185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creed.kcroz</string>
	<key>PROJECT_ID</key>
	<string>kcroz-dating-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kcroz-dating-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027941086185:ios:e9053435ad3613a7f1d178</string>
</dict>
</plist>